---
import Faceverification from "../components/faceverification.astro";
import ImageValid from "../components/image-valid.astro";
import Login from "../components/login.astro";
import Presensi from "../components/presensi.astro";
import Resume from "../components/resume.astro";
import Riwayat from "../components/riwayat.astro";
import "../styles/global.css";
import { getCookie } from "../lib/storage";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dunia Pohon - Presensi</title>
    </head>
    <body>
        <div class="flex justify-center min-h-screen">
            <div class="w-full sm:w-[640px] sm:border-x-2 sm:border-slate-800">
                <div class="fixed bottom-0">

                <div class="flex justify-center items-center flex-col text-indigo-600">
                    <h3 class="">update : 14 September 2025</h3>
                    <h3 class="font-bold">(Nanti update, lagi cuti)</h3>
                </div>
                </div>
                <div id="screen-not-login" class="hidden">
                    <Login />
                </div>
                <div id="screen-login" class="hidden">
                    <div class="flex flex-col text-indigo-900">
                        <hr />
                        <Resume />
                        <br />
                        <br />
                        <hr />
                        <ImageValid />
                        <br />
                        <br />
                        <hr />
                        <Presensi />
                        <br />
                        <br />
                        <hr />
                        <Riwayat />
                    </div>
                </div>
            </div>
        </div>

        <script>
            import { getCookie } from "../lib/storage";

            const screenLogin = document.getElementById(
                "screen-login",
            ) as HTMLDivElement;
            const screenNotLogin = document.getElementById(
                "screen-not-login",
            ) as HTMLDivElement;

            const check = getCookie("token");
            if (!check) {
                screenNotLogin.classList.remove("hidden");
            } else {
                screenLogin.classList.remove("hidden");
            }
        </script>
    </body>
</html>
