<div>
    <ul>
        <li></li>
    </ul>
    <button id="btn-presensi">Presenis</button>
</div>

<script>
    import { servicePresensi } from "../services/bkn";

    const btnPresensi = document.getElementById("btn-presensi") as HTMLButtonElement

    btnPresensi.addEventListener("click", async () => {

        const data = await servicePresensi();
        console.log("data", data);
    })

</script>
