<div class="px-4">
    <div
        class="w-full flex gap-8 mt-10 mb-10 bg-white/90 rounded-md p-2 text-indigo-900"
    >
        <div class="size-40 rounded-full bg-indigo-600"></div>
        <ul class="mt-20">
            <li id="profile-nama" class="font-bold text-xl"></li>
            <li id="profile-jabatan" class="text-lg"></li>
        </ul>
    </div>
    <div class="flex justify-between items-center mb-4">
        <button id="btn-resume">resume</button>
        <button
            id="btn-logout"
            class="bg-red-100 text-red-900 rounded-2xl py-2 px-4 shadow-2xl hover:cursor-pointer"
            >Keluar</button
        >
    </div>
    <h3 class="font-semibold text-xl ml-2">2 September 2025</h3>

    <div
        class="bg-indigo-500 text-white rounded-lg shadow p-5 flex items-center space-x-4 hover:bg-indigo-600 transition"
    >
        <div class="p-3 bg-indigo-900 rounded-full">
            <!-- Icon: dollar sign -->
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-8 w-8"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 8c-1.105 0-2 .895-2 2s.895 2 2 2 2 .895 2 2-2 2-2 2m0-12v12"
                ></path>
            </svg>
        </div>
        <div class="w-full">
            <ul class="flex gap-2 w-full">
                <li class="flex-1">
                    <p class="text-sm font-medium text-center">PAGI</p>
                    <p
                        id="resume-pagi"
                        class="h-6 text-xl font-bold text-center"
                    >
                    </p>
                </li>
                <li class="flex-1">
                    <p class="text-sm font-medium text-center">SIANG</p>
                    <p
                        id="resume-siang"
                        class="h-6 text-xl font-bold text-center"
                    >
                    </p>
                </li>
                <li class="flex-1">
                    <p class="text-sm font-medium text-center">SORE</p>
                    <p
                        id="resume-sore"
                        class="h-6 text-xl font-bold text-center"
                    >
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    import { getCookie, getProfile, removeCookie } from "../lib/storage";
    import { serviceResume } from "../services/bkn";

    const btnResume = document.getElementById(
        "btn-resume",
    ) as HTMLButtonElement;
    const btnLogout = document.getElementById(
        "btn-logout",
    ) as HTMLButtonElement;

    const resumePagi = document.getElementById(
        "resume-pagi",
    ) as HTMLParagraphElement;
    const resumeSiang = document.getElementById(
        "resume-siang",
    ) as HTMLParagraphElement;
    const resumeSore = document.getElementById(
        "resume-sore",
    ) as HTMLParagraphElement;
    const profileName = document.getElementById(
        "profile-nama",
    ) as HTMLDivElement;
    const profileJabatan = document.getElementById(
        "profile-jabatan",
    ) as HTMLDivElement;

    const getResume = async () => {
        const data = await serviceResume();
        resumePagi.innerHTML = data.data.PAGI;
        resumeSiang.innerHTML = data.data.SIANG;
        resumeSore.innerHTML = data.data.SORE;
    };

    btnResume.addEventListener("click", async () => {
        getResume();
    });

    const check = getCookie("token");
    if (check) {
        getResume();
    }

    const profile = getProfile();
    profileJabatan.innerHTML = profile?.jabatan ?? "";
    profileName.innerHTML = profile?.name ?? "";

    btnLogout.addEventListener("click", () => {
        removeCookie("token");
        removeCookie("isVerif");
        window.location.reload();
    });
</script>
